<div class="page-header">
	<h1><%= t('app.sider.about_me') %></h1>
</div>

<div class="row">
	<div class="col-lg-5">
		<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h4>信息</h4>
	  </div>
	  <div class="panel-body">
	  	<p>昵称: 粉笔(小)涛</p>
	  	<p>英文名: Chalk</p>
	  	<p>Email: <a href="mailto:caotao2003@163.com">caotao2003@163.com</a></p>
	  	<p>Weibo: <a href="http://weibo.com/chalktao">http://weibo.com/chalktao</a></p>
	  </div>
	</div>

	</div>
		<div class="col-lg-7">
			<div class="panel panel-success">
		  <div class="panel-heading">
		    <h4>工作&教育经历</h4>
		  </div>
		  
		  <div class="panel-body">
		  	<p>2015.7 - 北京领祈石诣(创业中)</p>
		  	<p>2014.7 - 2015.6 上海大众点评(软件开发)</p>
		  	<p>2011.9 - 2014.7 浙江大学(信息与电子工程)</p>
		  	<p>2007.9 - 2011.6 浙江大学(竺可桢学院)</p>
		  	<p>2001.9 - 2007.6 陕西师范大学附属中学</p>
		  </div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>自我介绍</h4>
  </div>
  
  <div class="panel-body">
  	<p>There is a pleasure in the pathless woods;</p>
		<p>There is a rapture on the lonely shore;</p>
		<p>There is society, where none intrudes,</p>
		<p>By the deep sea, and music in its roar:</p>
		<p>I love not man the less, but Nature more...</p>
  </div>
</div>

