<div class="page-header">
	<h1><%= t('app.navbar.about') %></h1>
</div>

<div class="row">
	<div class="col-lg-5">
		<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h4>关于我</h4>
	  </div>
	  <div class="panel-body">
	  	<p>昵称: 粉笔(小)涛</p>
	  	<p>英文名: Chalk</p>
	  	<p>Email: <a href="mailto:caotao2003@163.com">caotao2003@163.com</a></p>
	  	<p>Weibo: <a href="http://weibo.com/chalktao">http://weibo.com/chalktao</a></p>
	  </div>
	</div>

	</div>
		<div class="col-lg-7">
			<div class="panel panel-success">
		  <div class="panel-heading">
		    <h4>关于此Blog</h4>
		  </div>
		  
		  <div class="panel-body">
		  	<p>初学Ruby, 欢迎指教</p>
		  	<p>使用Ruby on Rails + MongoDB + Bootstrap + AngularJs</p>
		  	<p>主要参考: <a href="http://rails-practice.com/content/index.html">Rails 实践</a> | 
		  		<a href="https://ruby-china.org/topics/18403">Wblog</a></p>
		  	<p>GitHub: <a href="https://github.com/ChalkTao/blog">https://github.com/ChalkTao/blog</a></p>
		  </div>
		</div>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>自我介绍</h4>
  </div>
  
  <div class="panel-body">
  	<p>There is a pleasure in the pathless woods;</p>
		<p>There is a rapture on the lonely shore;</p>
		<p>There is society, where none intrudes,</p>
		<p>By the deep sea, and music in its roar:</p>
		<p>I love not man the less, but Nature more...</p>
  </div>
</div>

