<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t 'app.index.title' %></h1>
</div>

<% @recent_articles.each do |article| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= article.title %></h4>
  </div>
  
  <div class="panel-body">
  	<div>
      <% article.labels.each do |label| %>
      <span class="label label-primary" style="margin-right: 0.8rem; margin-bottom: 0.8rem"><%= label.name %> </span>
      <% end %>
      <hr>
    </div>
   	<div class="markdown-body"><%= markdown(article.content) %> </div>
  </div>
</div>
  
<% end %>
