<h1>Listing Labels</h1>
  <h3>
    <% @labels.each do |label| %>
        <span class="label label-default" style="margin-right: 1rem">
          <%= label.name %> 
          <%= link_to 'x', admin_label_path(label), method: :delete %>
        </span>
    <% end %>
  </h3>

<br>

<%= link_to t('.new', :default => t("helpers.links.new")), new_admin_label_path, :class => 'btn btn-primary'  %>
