<p id="notice"><%= notice %></p>
<div class="page-header">
<h1><%= @label.name %></h1>
</div>

<%= render "admin/articles/table" %>

<%= link_to t('.back', :default => t("helpers.links.back")), admin_labels_path %>
